<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UniversoGames</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Mine.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="~/js/sj.js"></script>
    <script type="text/javascript"src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg sticky top fixed-top" style="background-color:rgb(0, 0, 0); border-bottom:3px solid; border-bottom-color:#B0FFE7;">
            <a class="navbar-brand" style="color: #B0FFE7;" asp-controller="Home" asp-action="Index"><i class="fas fa-ghost"></i> UNIVERSO GAMES</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-hamburger fa-2x"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active" id="articleslink">
                        <a class="nav-link" asp-action="Index" asp-controller="News">Articles<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active" id="reviewslink">
                        <a class="nav-link" asp-action="Index" asp-controller="Reviews">Reviews<span class="sr-only">(current)</span></a>
                    </li>
                    <partial name="_LoginPartial" />
                </ul>
                <form asp-action="Index" method="get" class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" name="SearchedString" value="@ViewData["CurrentFilter"]" placeholder="Search Games..." aria-label="Search">
                    <button type="submit" class="btn btn-outline-maincolor my-2 my-sm-0"><i class="fa fa-search"></i></button>
                </form>
              
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="p-4 mt-5">
            @RenderBody()
        </main>
    </div>
    <footer class="text-center text-white" style="background-color:rgb(0, 0, 39); border-top:3px solid; border-top-color:#B0FFE7; ">
        <ul class="list-inline d-flex justify-content-center mb-3 footer__social mt-4">
            <li>
            <a href="#"class="fab fa-facebook px-2 text-decoration-none"></a>
            </li>
            <li>
                <a href="#" class="fab fa-twitter px-2 text-decoration-none"></a>
            </li>
            <li>
                <a href="#" class="fab fa-google-plus-g px-2 text-decoration-none"></a>
            </li>
            <li>
                <a href="#" class="fab fa-telegram-plane px-2 text-decoration-none"></a>
            </li>
        </ul>
        <p id="copyrightTeam" class="mt-2 p-1">Universo Games. Powered By &clubs;Team NEXXT&clubs; <script>document.write(new Date().getFullYear());</script></p>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
