@using Microsoft.AspNetCore.Identity

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@if (SignInManager.IsSignedIn(User))
{
    if (User.IsInRole("Admin"))
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Index">Menage users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Role" asp-action="Index">Menage roles</a>
        </li>
    }
    if (User.IsInRole("Editor"))
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="News" asp-action="Create"><i class="fas fa-plus"></i> New Article</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Reviews" asp-action="Create"><i class="fas fa-plus"></i> New Review</a>
        </li>
    }
    <li class="nav-item">
        <a class="nav-link" id="user" asp-area="" asp-controller="Home" asp-action="Index">Hi @User.Identity.Name</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="user" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
    </li>
}
else
{
    <ul class="navbar-nav mr-2">
        <li class="nav-item active">
            <a class="nav-link" id="user" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" id="user" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
        </li>
    </ul>
}
