@model WebApplicationUniversoGames.ViewModel.NewsViewModel
@{
    ViewData["Title"] = "Delete News";
}

<h1>Sei Sicuro Di Voler Eliminare La News Su @Model.Title?</h1>
<form asp-action="Delete" method="post" class="customForm">
    <input asp-for="Id" hidden />
    <div class="mb-3">
        <label asp-for="Title" class="form-label">Title</label>
        <input asp-for="Title" class="form-control" disabled>
    </div>
    <div class="mb-3">
        <label asp-for="Category" class="form-label">Category</label>
        <input asp-for="Category" class="form-control" disabled>
    </div>
    <div class="mb-3">
        <label asp-for="NewsImage" class="form-label">Image</label>
        <input asp-for="NewsImage" class="form-control" disabled>
    </div>
    <div class="mb-3">
        <label asp-for="Content" class="form-label">Content</label>
        <textarea asp-for="Content" class="form-control" rows="10" disabled></textarea>
    </div>
    <div class="form-group row">
        <div class="col">
            <input type="submit" value="Delete" class="btn btn-danger" width="65" />
            <a asp-action="Index" class="btn btn-outline-info" width="65">Indietro</a>
        </div>
    </div>
</form>
