@model WebApplicationUniversoGames.ViewModel.NewsViewModel
@{
    ViewData["Title"] = "Update News";
}

<h1>Update News Su @Model.Title?</h1>
<form asp-action="Update" class="customForm" enctype="multipart/form-data">
    <input asp-for="Id" hidden />
    <div class="mb-3">
        <label asp-for="Title" class="form-label">Title</label>
        <input asp-for="Title" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="Category" class="form-label">Category</label>
        <input asp-for="Category" class="form-control">
    </div>
    <div class="custom-file mb-3">
        <label asp-for="NewsImage" class="control-label">Choose a file</label>
        <input asp-for="NewsImage" class="form-control-file">
        <img src="@FileLocation.RetriveFileFromFolder@Model.ExistingImage" class="img-thumbnail" height="80" width="80" asp-append-version="true" />
    </div>
    <div class="mb-3">
        <label asp-for="Content" class="form-label">Content</label>
        <textarea asp-for="Content" class="form-control" rows="10"></textarea>
    </div>
    <input asp-for="Date" hidden />
    <div class="form-group row">
        <div class="col">
            <input type="submit" value="Update" class="btn btn-success" width="65" />
            <a asp-action="Index" class="btn btn-outline-info" width="65">Indietro</a>
        </div>
    </div>
</form>
