@model WebApplicationUniversoGames.Models.Review
@{
    ViewData["Title"] = "Update Review";
}

<h1>Update Review @Model.Title</h1>
<!-- asp-action si riferisce all'update del controller, in questo caso il button'-->
<form asp-action="Update" method="post" class="customForm">
    <input asp-for="Id" hidden />
    <div class="mb-3">
        <label asp-for="Title" class="form-label">Title</label>
        <input asp-for="Title" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Content" class="form-label">Content</label>
        <textarea asp-for="Content" class="form-control" rows="10" disabled></textarea>
    </div>
    <div class="mb-3">
        <label asp-for="Score" class="form-label">Score</label>
        <input asp-for="Score" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="CoverImageFile" class="form-label">Immagine</label>
        <input asp-for="CoverImageFile" class="form-control" accept="image/*"/>
    </div>
    <input asp-for="Date" hidden />
    <div class="form-group row">
        <div class="col">
            <input type="submit" value="Update" class="btn btn-success" width="65" />
            <a asp-action="Index" class="btn btn-outline-info" widht="65">Indietro</a>
        </div>
    </div>
</form>