#searchbar {
    width: 50%;
    position: absolute;
    margin-left: 0%;
}

#btnbar {
    position: absolute;
    margin-left: 0%;
}

#datecolor {
    color: aqua;
}

#contnews {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#contreview {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

body {
    background-image: url("https://cdn2.softswiss.net/n1casino/b/quickfire/MGS_RetroGalaxy.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
} 

.btn-primary {     
    color: #fff;     
    background-color: #ff1178;     
    border:none;      
} 

.btn-primary:hover {     
    background-color: #ff1178;     
    color: black; 
} 

.customForm label{     
    color:ghostwhite;
    font-size: large;
} 

h1 {     
    color:#ff911a !important; 
} 


.card {     
    background-color: rgba(0, 0, 0, 0.6) !important; 
    color: whitesmoke;
}

/*Use inspect element to see classes and use CSS advanced selector to modify pagination*/

.pagination li{
    font-size: 1.5rem;
    color:springgreen;
}
.pagination a {
    color: antiquewhite;
    background-color: magenta;
}

body {
    background-color: #eee;
    font-family: "Poppins", sans-serif;
    font-weight: 300
}

.height {
    height: 100vh
}

.search {
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1)
}

.search input {
        height: 60px;
        text-indent: 25px;
}
.search .fa-search {
        position: absolute;
        top: 20px;
        left: 16px
}

.search .searchBarButton {
        position: absolute;
        top: 5px;
        right: 5px;
        height: 50px;
        width: 110px;
        background: #ff1178;
}

.search .searchBarButton:hover{
        border-color: none !important;
        border: none;
}

.btn-outline-maincolor {
    color: #ff1178;
    border-color: #ff1178;
    border:solid 3px;
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    color: #B0FFE7;
    border:1px solid;
    border-radius:0.25rem;
}

.btn-outline-maincolor:hover {
    color: magenta;
    border-color: magenta;
    border: solid 3px;
}

.nav-item > a:hover {
    color: magenta !important;
}

.nav-item > a {
    color: #ff1178;
}

.nav-item > #user {
    color: orange;
}

.nav-item > #user:hover {
    color: yellow !important;
}

.fa-facebook{
    font-size:2em;
    color:whitesmoke;
}

.fa-twitter {
    font-size: 2em;
    color: whitesmoke;
}

.fa-google-plus-g {
    font-size: 2em;
    color: whitesmoke;
}

.fa-telegram-plane {
    font-size: 2em;
    color: whitesmoke;
}

#copyrightTeam {
    color: #ff1178;
}

#copyrightTeam:hover {
    color: magenta !important;
}