#searchbar {
    width: 50%;
    position: absolute;
    margin-left: 0%;
}

#btnbar {
    position: absolute;
    margin-left: 0%;
}

#datecolor {
    color: aqua;
}

#contnews {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

body {
    background-image: url("https://images.everyeye.it/img-notizie/quanta-materia-c-e-nell-universo-risposta-precisa-sempre-v3-471745-1280x720.jpg%22");
    background-size:cover;     
    background-position:center;     
    background-repeat: no-repeat;     
    background-attachment: fixed;     
    height:100vh; 
} 

.btn-primary {     
    color: #fff;     
    background-color: #ff1178;     
    border:none;      
} 

.btn-primary:hover {     
    background-color: #ff1178;     
    color: black; 
} 

.customForm label{     
    color:yellow 
} 

h1 {     
    color:#ff911a !important; 

} 

.card {     
    background-color: rgba(255, 255, 255, 0.2) !important; 
}

/*Use inspect element to see classes and use CSS advanced selector to modify pagination*/

.pagination li {
    font-size: 1.5rem;
    color: springgreen;
    border: solid 1px;
    font-size: 1.5em;
    background-color: magenta;
    border-radius: 46%;
    /*padding-left: 1em;
    padding-right: 1em;*/
    padding:1em 1em 1em 1em;
}
.pagination a {
    color: antiquewhite;
    background-color: magenta;
}

.pagination-container{
    margin-left:41%;
}

#formnewssearch {
    width: 26%;
    margin-left: 36%;
}