#searchbar {
    width: 50%;
    position: absolute;
    margin-left: 0%;
}

#btnbar {
    position: absolute;
    margin-left: 0%;
}

#datecolor {
    color: aqua;
}

#contnews {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

body {
    background-image: url("https://cdn2.softswiss.net/n1casino/b/quickfire/MGS_RetroGalaxy.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
} 

.btn-primary {     
    color: #fff;     
    background-color: #ff1178;     
    border:none;      
} 

.btn-primary:hover {     
    background-color: #ff1178;     
    color: black; 
} 

.customForm label{     
    color:yellow 
} 

h1 {     
    color:#ff911a !important; 

} 

.navbar{     
    height:100px !important;
} 
.card {     
    background-color: rgba(0, 0, 0, 0.6) !important; 
    color: whitesmoke;
}

/*Use inspect element to see classes and use CSS advanced selector to modify pagination*/

.pagination li{
    font-size: 1.5rem;
    color:springgreen;
}
.pagination a {
    color: antiquewhite;
    background-color: magenta;
}